In [14]:
import pandas as pd
auged_df = pd.read_csv('hard_case_generation.csv')
auged_df = auged_df.drop(columns=['Unnamed: 0', 'index', 'source', 'similarity', 'target_name'])
auged_df

,ID,text,target,predicted_value
0,ynat-v1_train_00013,"구글, AI 기술로 데이터 분석 자동화 혁신",4,5
1,ynat-v1_train_00013,"마이크로소프트, AI 도입으로 클라우드 서비스 강화",4,5
2,ynat-v1_train_00013,"테슬라, AI 기반 자율주행 기술 업데이트",4,5
3,ynat-v1_train_00013,"애플, AI 적용한 새로운 아이폰 모델 발표",4,5
4,ynat-v1_train_00013,삼성전자가 AI 기반 신제품 출시로 업무 효율을 극대화한다.,4,5
...,...,...,...,...
2401,ynat-v1_train_02773,"문학 공모전, 젊은 작가들의 최고 소설 선정",4,5
2402,ynat-v1_train_02773,"창업 지원 프로그램, 최고의 비즈니스 아이디어 공모",4,5
2403,ynat-v1_train_02773,"요리 대회, 최고의 셰프 뽑기 전국 공모전 열려",4,5
2404,ynat-v1_train_02773,"스포츠 리그, 최고의 선수들 선정 공모전 개최",4,5
2405,ynat-v1_train_02773,"음악 페스티벌, 최고의 곡 투표 이벤트 시작",4,5

In [16]:
origin_IT = auged_df[auged_df['target']==4]
origin_IT = origin_IT.drop(columns=['predicted_value'])
origin_IT.to_csv('origin_IT.csv')
origin_IT

                       ID                               text  target
0     ynat-v1_train_00013           구글, AI 기술로 데이터 분석 자동화 혁신       4
1     ynat-v1_train_00013       마이크로소프트, AI 도입으로 클라우드 서비스 강화       4
2     ynat-v1_train_00013            테슬라, AI 기반 자율주행 기술 업데이트       4
3     ynat-v1_train_00013           애플, AI 적용한 새로운 아이폰 모델 발표       4
4     ynat-v1_train_00013  삼성전자가 AI 기반 신제품 출시로 업무 효율을 극대화한다.       4
...                   ...                                ...     ...
2401  ynat-v1_train_02773           문학 공모전, 젊은 작가들의 최고 소설 선정       4
2402  ynat-v1_train_02773       창업 지원 프로그램, 최고의 비즈니스 아이디어 공모       4
2403  ynat-v1_train_02773         요리 대회, 최고의 셰프 뽑기 전국 공모전 열려       4
2404  ynat-v1_train_02773          스포츠 리그, 최고의 선수들 선정 공모전 개최       4
2405  ynat-v1_train_02773           음악 페스티벌, 최고의 곡 투표 이벤트 시작       4

[240 rows x 3 columns]

In [18]:
cleaned_IT = auged_df[auged_df['predicted_value']==4]
cleaned_IT = cleaned_IT.drop(columns=['target'])
cleaned_IT.to_csv('cleaned_IT.csv')
cleaned_IT

,ID,text,predicted_value
90,ynat-v1_train_00103,"LG전자, AI 탑재한 차세대 가전제품 라인업 출시",4
91,ynat-v1_train_00103,"샤오미, AI 기능 강화한 프리미엄 태블릿 출시",4
92,ynat-v1_train_00103,"애플, 스마트홈 통합 기능 강화한 스마트 스피커 출시",4
93,ynat-v1_train_00103,"구글, AI 기술 도입한 차세대 노트북 공개",4
94,ynat-v1_train_00103,삼성전자가 AI 기반 업무 효율화를 극대화한 새로운 버전 스마트폰을 출시한다.,4
...,...,...,...
2335,ynat-v1_train_02655,"글로벌 모바일 게임 대회, 새로운 엔진 공개",4
2336,ynat-v1_train_02655,"페이스북, AI 기반 이미지 보정 기술로 사용자사진 개선 열풍",4
2337,ynat-v1_train_02655,"테슬라, 자율주행차 소프트웨어 업데이트로 안전성 증대",4
2338,ynat-v1_train_02655,"구글, 자연어 처리 강화해 검색 결과 정확도 30% 향상",4
2339,ynat-v1_train_02655,"마이크로소프트, 클라우드 서비스 보안 강화를 위한 신규 암호화 솔루션 발표",4

In [19]:
origin_eco = auged_df[auged_df['target']==5]
origin_eco = origin_eco.drop(columns=['predicted_value'])
origin_eco.to_csv('origin_eco.csv')
origin_eco

                       ID                                         text  target
90    ynat-v1_train_00103                 LG전자, AI 탑재한 차세대 가전제품 라인업 출시       5
91    ynat-v1_train_00103                   샤오미, AI 기능 강화한 프리미엄 태블릿 출시       5
92    ynat-v1_train_00103                애플, 스마트홈 통합 기능 강화한 스마트 스피커 출시       5
93    ynat-v1_train_00103                     구글, AI 기술 도입한 차세대 노트북 공개       5
94    ynat-v1_train_00103  삼성전자가 AI 기반 업무 효율화를 극대화한 새로운 버전 스마트폰을 출시한다.       5
...                   ...                                          ...     ...
2335  ynat-v1_train_02655                     글로벌 모바일 게임 대회, 새로운 엔진 공개       5
2336  ynat-v1_train_02655           페이스북, AI 기반 이미지 보정 기술로 사용자사진 개선 열풍       5
2337  ynat-v1_train_02655                테슬라, 자율주행차 소프트웨어 업데이트로 안전성 증대       5
2338  ynat-v1_train_02655              구글, 자연어 처리 강화해 검색 결과 정확도 30% 향상       5
2339  ynat-v1_train_02655    마이크로소프트, 클라우드 서비스 보안 강화를 위한 신규 암호화 솔루션 발표       5

[612 rows x 3 columns]

In [21]:
cleaned_eco = auged_df[auged_df['predicted_value']==5]
cleaned_eco = cleaned_eco.drop(columns=['target'])
cleaned_eco.to_csv('cleaned_eco.csv')
cleaned_eco

                       ID                               text  predicted_value
0     ynat-v1_train_00013           구글, AI 기술로 데이터 분석 자동화 혁신                5
1     ynat-v1_train_00013       마이크로소프트, AI 도입으로 클라우드 서비스 강화                5
2     ynat-v1_train_00013            테슬라, AI 기반 자율주행 기술 업데이트                5
3     ynat-v1_train_00013           애플, AI 적용한 새로운 아이폰 모델 발표                5
4     ynat-v1_train_00013  삼성전자가 AI 기반 신제품 출시로 업무 효율을 극대화한다.                5
...                   ...                                ...              ...
2401  ynat-v1_train_02773           문학 공모전, 젊은 작가들의 최고 소설 선정                5
2402  ynat-v1_train_02773       창업 지원 프로그램, 최고의 비즈니스 아이디어 공모                5
2403  ynat-v1_train_02773         요리 대회, 최고의 셰프 뽑기 전국 공모전 열려                5
2404  ynat-v1_train_02773          스포츠 리그, 최고의 선수들 선정 공모전 개최                5
2405  ynat-v1_train_02773           음악 페스티벌, 최고의 곡 투표 이벤트 시작                5

[498 rows x 3 columns]

In [22]:
origin_eco[origin_eco['text']==cleaned_IT['text']]

                       ID                                         text  target
90    ynat-v1_train_00103                 LG전자, AI 탑재한 차세대 가전제품 라인업 출시       5
91    ynat-v1_train_00103                   샤오미, AI 기능 강화한 프리미엄 태블릿 출시       5
92    ynat-v1_train_00103                애플, 스마트홈 통합 기능 강화한 스마트 스피커 출시       5
93    ynat-v1_train_00103                     구글, AI 기술 도입한 차세대 노트북 공개       5
94    ynat-v1_train_00103  삼성전자가 AI 기반 업무 효율화를 극대화한 새로운 버전 스마트폰을 출시한다.       5
...                   ...                                          ...     ...
2335  ynat-v1_train_02655                     글로벌 모바일 게임 대회, 새로운 엔진 공개       5
2336  ynat-v1_train_02655           페이스북, AI 기반 이미지 보정 기술로 사용자사진 개선 열풍       5
2337  ynat-v1_train_02655                테슬라, 자율주행차 소프트웨어 업데이트로 안전성 증대       5
2338  ynat-v1_train_02655              구글, 자연어 처리 강화해 검색 결과 정확도 30% 향상       5
2339  ynat-v1_train_02655    마이크로소프트, 클라우드 서비스 보안 강화를 위한 신규 암호화 솔루션 발표       5

[612 rows x 3 columns]

### 사회(3)

In [23]:
origin_social = auged_df[auged_df['target']==3]
origin_social = origin_social.drop(columns=['predicted_value'])
origin_social.to_csv('origin_social.csv')
origin_social

,ID,text,target
6,ynat-v1_train_00031,"세계 무역 리더들이 모인 KINU, 글로벌 경제 패러다임 전환의 물결 시작된",3
7,ynat-v1_train_00031,"국제 무역가들의 전략적 협력, KINU에서 미래 경제 질서 재정립하다",3
8,ynat-v1_train_00031,"KINU 회의가 촉발한 무역업계의 새 시대, 글로벌 경제 판도의 변화 예고",3
9,ynat-v1_train_00031,"국제 무역계의 슈퍼스타들이 한자리에, KINU 컨퍼런스에서 미래 경제 전망 논하다",3
10,ynat-v1_train_00031,"세계 각국의 무역 전문가들이 모인 KINU 포럼, 글로벌 경제 혁신의 중심이 되다",3
...,...,...,...
2389,ynat-v1_train_02765,서울의 나도는 방문객이 많지 않아서 손님을 맞이할 곳을 찾기 어렵다.,3
2390,ynat-v1_train_02765,"도쿄, 관광객 부족으로 음식점과 호텔 예약에 어려움 겪어",3
2391,ynat-v1_train_02765,"파리, 문화 유적지 방문객 감소로 지역 경제 타격",3
2392,ynat-v1_train_02765,"마드리드, 대규모 행사 취소로 관광업계 생존 위기",3
2393,ynat-v1_train_02765,"로마, 주요 관광지 한산해져 매출 급감",3

In [26]:
cleaned_social = auged_df[auged_df['predicted_value']==3]
cleaned_social = cleaned_social.drop(columns=['target'])
cleaned_social.to_csv('cleaned_social.csv')
cleaned_social

,ID,text,predicted_value
42,ynat-v1_train_00087,"유럽 항공사 조종사들, 모의 비행 중 중요한 결함 발견해 논란",3
43,ynat-v1_train_00087,"2022년 입사시험, AI 감독관 도입으로 보안 강화",3
44,ynat-v1_train_00087,"2024년 대학 입학 면접, 디지털 플랫폼을 통한 비대면 진행",3
45,ynat-v1_train_00087,"2025년 중등교육 졸업고사, 친환경 정책과 연계된 시험 방식 도입",3
46,ynat-v1_train_00087,"2026년 공무원 채용 시험, 스마트 기술로 평가 효율성 증대",3
...,...,...,...
2395,ynat-v1_train_02767,1월 전국적으로 청년층의 일자리가 크게 늘었다.,3
2396,ynat-v1_train_02767,"6월 청년층, 환경 보호 운동으로 지방 자치 단체 참여 확대",3
2397,ynat-v1_train_02767,4월 청년층 주택 임대 시장 활성화,3
2398,ynat-v1_train_02767,"3월 대학 졸업생들, 지역 사회 봉사 활동 증가",3
2399,ynat-v1_train_02767,2월 청소년 창업 열풍으로 전국적으로 스타트업 급증,3

___

## 증강 데이터 합치기 (사회(3), IT과학(4), 경제(5))

In [38]:
social = pd.read_csv('social.csv')
economy = pd.read_csv('economy.csv')
science = pd.read_csv('science.csv')

In [39]:
social = social.rename(columns={'predicted_value': 'target'})

In [41]:
aug = pd.concat([social, science, economy], axis=0, ignore_index=True)
aug = aug.drop(columns=['Unnamed: 0'])
aug

                      ID                                     text  target
0    ynat-v1_train_00192      대기업 공장의 신규 안전 프로토콜 도입, 노동자 혜택 확장 검토       3
1    ynat-v1_train_00192                 서울 버스 노선 개편, 교통 혼잡 완화 기대       3
2    ynat-v1_train_00192         건설 현장의 안전 강화 방안, 시간당 임금 제도 개편 논의       3
3    ynat-v1_train_00192                     인천 공항 활주로 폐쇄, 항공편 지연       3
4    ynat-v1_train_00192                      대전 광역버스 요금 인상 계획 발표       3
..                   ...                                      ...     ...
395                  NaN  K팝, 글로벌 시장에서 경제 성장 동력… 팬덤 효과와 콘텐츠 수출 확대       5
396                  NaN          글로벌 협력, 새로운 시대 개막… 세계 경제 성장 활성화       5
397                  NaN          글로벌 금리 상승 추세… 한국 달러 환율 변동 주의 필요       5
398                  NaN          대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속       5
399                  NaN                국내 내수 시장 활성화 노력, 경제 회복 촉진       5

[400 rows x 3 columns]

In [42]:
all_drop = pd.read_csv('filtered_second_cleanlab_ids_outlier.csv')
little_drop = pd.read_csv('filtered_third_cleanlab_ids_outlier.csv')

In [45]:
aug_all_drop = pd.concat([all_drop, aug], axis=0, ignore_index=True)
aug_all_drop

,ID,text,target,target_name,similarity
0,ynat-v1_train_00727,봄맞이 벚꽃 와인으로 취향저격,0,생활문화,0.20313
1,ynat-v1_train_00128,강원도 교원협회 교원들과 일점탈락제 도입에 대한 반대.,3,사회,0.21350
2,ynat-v1_train_01720,페이스북 메신저 암호화 기능 저커버그 미래는 프라이빗,4,IT과학,0.22304
3,ynat-v1_train_01947,"미래에셋대우, 엔씨소프트 매출 1위 확보...매출 목표 상향 조정",5,경제,0.23478
4,ynat-v1_train_01562,"김동연 부총리, 교육계와의 토론회서 혁신적 교육 정책 논의",3,사회,0.19837
...,...,...,...,...,...
11035,NaN,"K팝, 글로벌 시장에서 경제 성장 동력… 팬덤 효과와 콘텐츠 수출 확대",5,NaN,NaN
11036,NaN,"글로벌 협력, 새로운 시대 개막… 세계 경제 성장 활성화",5,NaN,NaN
11037,NaN,글로벌 금리 상승 추세… 한국 달러 환율 변동 주의 필요,5,NaN,NaN
11038,NaN,"대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속",5,NaN,NaN
11039,NaN,"국내 내수 시장 활성화 노력, 경제 회복 촉진",5,NaN,NaN

In [50]:
# 각 target별 개수와 비율 구하기
target_counts = aug_all_drop['target'].value_counts()
target_ratios = aug_all_drop['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1643  0.148822
1        1630  0.147645
5        1608  0.145652
6        1592  0.144203
3        1570  0.142210
4        1540  0.139493
0        1457  0.131975

In [46]:
aug_little_drop = pd.concat([little_drop, aug], axis=0, ignore_index=True)
aug_little_drop

,ID,text,target,target_name,similarity
0,ynat-v1_train_00727,봄맞이 벚꽃 와인으로 취향저격,0,생활문화,0.20335
1,ynat-v1_train_00128,강원도 교원협회 교원들과 일점탈락제 도입에 대한 반대.,3,사회,0.21290
2,ynat-v1_train_01720,페이스북 메신저 암호화 기능 저커버그 미래는 프라이빗,4,IT과학,0.22294
3,ynat-v1_train_01356,네이버 인앱 결제 시범 서비스 개시,4,IT과학,0.25291
4,1579,오늘 네이버 홈페이지 모바일 첫 화면 전면 메인 검색창 위주 개편...뉴스·실급검 ...,4,IT과학,0.22425
...,...,...,...,...,...
11404,NaN,"K팝, 글로벌 시장에서 경제 성장 동력… 팬덤 효과와 콘텐츠 수출 확대",5,NaN,NaN
11405,NaN,"글로벌 협력, 새로운 시대 개막… 세계 경제 성장 활성화",5,NaN,NaN
11406,NaN,글로벌 금리 상승 추세… 한국 달러 환율 변동 주의 필요,5,NaN,NaN
11407,NaN,"대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속",5,NaN,NaN
11408,NaN,"국내 내수 시장 활성화 노력, 경제 회복 촉진",5,NaN,NaN

In [49]:
# 각 target별 개수와 비율 구하기
target_counts = aug_little_drop['target'].value_counts()
target_ratios = aug_little_drop['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1695  0.148567
6        1665  0.145937
5        1647  0.144360
1        1645  0.144184
4        1635  0.143308
3        1623  0.142256
0        1499  0.131388

In [48]:
aug_all_drop.to_csv('filtered_second_cleanlab_ids_outlier_aug.csv')
aug_little_drop.to_csv('filtered_third_cleanlab_ids_outlier_aug.csv')