## 필터링된 데이터 글자수 필터링

In [1]:
import pandas as pd

filtered_df = pd.read_csv('train_20241104_filtering.csv')

In [ ]:
short_texts = filtered_df[(filtered_df['text'].str.replace(" ", "").str.len() =< 8) & (filtered_df['source']=='noisy')]
short_texts.to_csv('temp.csv')

## temp_test.csv

In [16]:
auged_df = pd.read_csv('auged_titles.csv')
auged_df = auged_df.drop(columns=['Unnamed: 0'])

In [17]:
domains = ['문화', '스포츠', '정치', '사회', '기술', '경제', '세계']

target_to_domain = {
    '문화': 0,
    '스포츠': 1,
    '정치': 2,
    '사회': 3,
    '기술': 4,
    '경제': 5,
    '세계': 6
}

In [19]:
# auged_df target 열을 정수로 변환
auged_df['target'] = auged_df['target'].map(target_to_domain)
auged_df

     target                                             text
0         0  **'나의 아티스트, 나만의 색깔' - 서울 시립 미술관 신규 전시 기대감 UP!**
1         0          **여름 맞이 '냉면 vs 비빔밥' 맛집 대결! 당신은 어떤 선택?**
2         0     '스타일 변신', 패션 트렌드 집중 분석 - 2023년 여름 인기 소품 대방출!
3         0            **'인생영화, 다시 한번!' 오리지널 OST 반복 감상 이유?**
4         0             **독서 습관 형성! 새롭게 출간된 베스트셀러 도서 추천 목록**
..      ...                                              ...
566       5                     국내 주택 시장 분석… 부동산 가격 변동 요인 조사
567       5            미래 도시 모델 개발… 스마트 기술 활용하여 쾌적한 생활 공간 조성
568       5              지속 가능한 관광 발전 전략… 환경 보호와 경제 성장 동시 추구
569       5              온라인 교육 플랫폼 확산… 학습 접근성 향상과 맞춤형 교육 제공
570       5                 기업 기술 투자 증가… 혁신적인 제품 개발 및 서비스 확장

[571 rows x 2 columns]

In [21]:
all_df = pd.concat([filtered_df, auged_df], ignore_index=True)
all_df

,index,ID,text,target,target_name,source,similarity
0,0.0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학,noisy,0.20060
1,1.0,ynat-v1_train_00000,"정부, KT 주파수 미사용에 강력한 제재 조치",4,IT과학,noisy,0.22637
2,2.0,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학,noisy,0.20635
3,3.0,ynat-v1_train_00000,정 파 미사 KT 이용기간 단 분종 보,4,IT과학,noisy,0.18595
4,4.0,ynat-v1_train_00000,"KT, 주파수 미사용으로 인한 사용 기간의 2년 단축.",4,IT과학,noisy,0.21905
...,...,...,...,...,...,...,...
10159,NaN,NaN,국내 주택 시장 분석… 부동산 가격 변동 요인 조사,5,NaN,NaN,NaN
10160,NaN,NaN,미래 도시 모델 개발… 스마트 기술 활용하여 쾌적한 생활 공간 조성,5,NaN,NaN,NaN
10161,NaN,NaN,지속 가능한 관광 발전 전략… 환경 보호와 경제 성장 동시 추구,5,NaN,NaN,NaN
10162,NaN,NaN,온라인 교육 플랫폼 확산… 학습 접근성 향상과 맞춤형 교육 제공,5,NaN,NaN,NaN
10163,NaN,NaN,기업 기술 투자 증가… 혁신적인 제품 개발 및 서비스 확장,5,NaN,NaN,NaN

In [22]:
# 각 target별 개수와 비율 구하기
target_counts = all_df['target'].value_counts()
target_ratios = all_df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1561  0.153581
6        1540  0.151515
1        1477  0.145317
0        1456  0.143251
3        1429  0.140594
4        1408  0.138528
5        1293  0.127214

In [24]:
eco = pd.read_csv('new_titles_domains.csv')
eco = eco.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [27]:
eco = eco[eco['target']=='경제']
eco['target'] = eco['target'].map(target_to_domain)
eco

      target                                  text
68         5                  통화위원회, 금리 인상 시나리오 점검
69         5       대기업, 1분기 실적 감소 전망… 글로벌 경기 불안 지속
70         5           주식시장, 국내외 경제 불확실성에 대한 우려 심화
71         5      IT 산업, 인공지능 기술 발전으로 새로운 성장 기회 노려
72         5    은행, 소액대출 대체금리 시스템 도입… 민간 금융 활성화 추진
...      ...                                   ...
1839       5    관광 산업 부흥, 지역 경제 활성화 및 일자리 창출 효과 기대
1840       5  국내 내수 시장 확대, 경제 성장 동반 효과를 가져올 것으로 전망
1841       5  지속 가능한 경제 모델 구축 필요성 강조, 미래 세대를 위한 책임
1842       5        글로벌 협력 강화, 세계 경제 불확실성 해소 위한 노력
1843       5        혁신 기술 개발 및 투자 활성화, 미래 경쟁 우위 확보

[335 rows x 2 columns]

In [30]:
test = pd.concat([all_df, eco], ignore_index=True)
test = test.drop(columns=['index'])

In [29]:
# 각 target별 개수와 비율 구하기
target_counts = test['target'].value_counts()
target_ratios = test['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
5        1628  0.155062
2        1561  0.148681
6        1540  0.146681
1        1477  0.140680
0        1456  0.138680
3        1429  0.136108
4        1408  0.134108

In [31]:
test.to_csv('temp_test.csv')

In [33]:
inf = pd.read_csv('output/train_not_noisy_inf.csv')
inf = inf.drop(columns=['target_name', 're_text'])

In [34]:
# 각 target별 개수와 비율 구하기
target_counts = inf['target'].value_counts()
target_ratios = inf['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
6         191  0.157461
0         190  0.156636
1         187  0.154163
5         180  0.148392
2         162  0.133553
4         159  0.131080
3         144  0.118714

In [35]:
inf.to_csv('output/train_not_noisy_inf.csv')

In [2]:
import pandas as pd

domain = pd.read_csv('new_titles_domains.csv')
domain = domain.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [3]:
domains = ['문화', '스포츠', '정치', '사회', '기술', '경제', '세계']

target_to_domain = {
    '문화': 0,
    '스포츠': 1,
    '정치': 2,
    '사회': 3,
    '과학/기술': 4,
    '경제': 5,
    '국제': 6
}

In [4]:
domain['target'] = domain['target'].map(target_to_domain)
domain

      target                           text
0          2             새로운 정책 발표로 국민 반응은?
1          2          대선 후보, 경제 공약 확대 전략 추진
2          2      국회 긴급한 회의 소집, 중요 법안 논의 예고
3          2   야당, 과행정 비판 강화 '총력'  mobilze
4          2      지방 선거 결과 분석: 여당 지지율 변동 주목
...      ...                            ...
1939       1       AI 기술 활용, 스포츠 분석 시스템 고도화
1940       1  스포츠 기업의 새로운 전략, '팬들과 소통하는 방식'
1941       1        사회적 책임, 스포츠 행사에서 중요성 부각
1942       1     지속 가능한 스포츠 발전, '환경 보호'와 함께
1943       1  스포츠 교육 프로그램 확대, '건강하고 즐거운 생활'

[1944 rows x 2 columns]

In [8]:
# 'text' 열의 길이가 30 이하인 행만 선택
short_texts_df = domain[domain['text'].str.len() <= 35]
short_texts_df.to_csv('temp.csv')

### 사이먼한테 넘길 데이터 - 합치기

In [19]:
df = pd.read_csv('short_news_titles.csv')
df = df.drop(columns=['Unnamed: 0'])

In [20]:
# 각 target별 개수와 비율 구하기
target_counts = df['target'].value_counts()
target_ratios = df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
1         287  0.146728
4         285  0.145706
2         283  0.144683
3         282  0.144172
6         279  0.142638
0         274  0.140082
5         266  0.135992

In [22]:
gen = pd.read_csv('cleaned_generated.csv')

# 각 target별 개수와 비율 구하기
target_counts = gen['target'].value_counts()
target_ratios = gen['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
6         126  0.152727
4         121  0.146667
0         117  0.141818
3         116  0.140606
1         115  0.139394
5         115  0.139394
2         115  0.139394

In [23]:
final_df = pd.concat([df, gen], ignore_index=True)
final_df = final_df.drop_duplicates(subset='text', keep='first')
final_df = final_df.sample(frac=1, random_state=42).reset_index(drop=True)
final_df

      target                                text
0          5                금융 부문, 디지털 전환 가속화 추세
1          3              새로운 사회 질서 형성에 대한 논의 활발
2          3              법원, 재벌 횡령 사건 관련자 검찰 인계
3          5    국내 여행 시장 성장… '안전하고 즐거운' 여행 선호 증가
4          1     '아틀레티코 마드리드', 라리가 상위권 점령 무너진 리얼
...      ...                                 ...
2707       1  배구 리그, 선수들의 웅장한 실력과 전략으로 관객을 사로잡다!
2708       6       한국, 국제 사회에 기여하는 선진국으로서의 역할 강조
2709       4        우주 탐사, 새로운 행성 발견 및 은하계 연구 진행
2710       3   사회적 분위기 개선 노력: 정서적 안정 및 공동체 의식 확산
2711       6    러시아, 국제적인 군사력 증강 계획 발표… 지역 안보 위협

[2712 rows x 2 columns]

In [24]:
# 각 target별 개수와 비율 구하기
target_counts = final_df['target'].value_counts()
target_ratios = final_df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
6         405  0.149336
1         402  0.148230
3         398  0.146755
4         391  0.144174
5         381  0.140487
2         378  0.139381
0         357  0.131637

In [25]:
final_df.to_csv('generated_titles_sum.csv')

## 젬마 + 아웃라이어 필터링을 글자수 필터링

In [2]:
import pandas as pd

gemma = pd.read_csv('train_20241104_filtering_gemma2.csv')
gemma = gemma.drop(columns=['before_index'])

In [33]:
filtered_gemma = gemma[gemma['text'].str.len() <= 100]
#filtered_gemma.to_csv('temp.csv')

In [34]:
filtered_gemma = filtered_gemma[filtered_gemma['text'].str.replace(" ", "").str.len() >= 7]
filtered_gemma.to_csv('train_20241104_filtering_gemma2.csv')

## BERT 증강 추가

In [51]:
filtered_gemma

,ID,text,target,target_name,source,similarity
0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학,noisy,0.20434
1,ynat-v1_train_00000,"정부, KT 주파수 미사용에 강력한 제재 조치",4,IT과학,noisy,0.23111
2,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학,noisy,0.21015
3,ynat-v1_train_00000,미사용 주파수에 대한 정부와 KT에 대한 강력한 제재.,4,IT과학,noisy,0.23864
4,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,noisy,0.18111
...,...,...,...,...,...,...
10386,2706,"유엔, 글로벌 기후 변화 대응 협력 강화 추진",6,세계,gemma2,0.22056
10387,2707,"배구 리그, 선수들의 웅장한 실력과 전략으로 관객을 사로잡다!",1,스포츠,gemma2,0.27091
10388,2708,"한국, 국제 사회에 기여하는 선진국으로서의 역할 강조",6,세계,gemma2,0.17455
10389,2709,"우주 탐사, 새로운 행성 발견 및 은하계 연구 진행",4,IT과학,gemma2,0.20645
10390,2710,사회적 분위기 개선 노력: 정서적 안정 및 공동체 의식 확산,3,사회,gemma2,0.18521

In [48]:
bert_ins = pd.read_csv('train_20241104_filtering_mask.csv')

In [53]:
bert_not_noisy = bert_ins[bert_ins['source']=='not_noisy_ner']
bert_not_noisy = bert_not_noisy.drop(columns=['before_index'])

In [55]:
auged_df = pd.concat([filtered_gemma, bert_not_noisy], ignore_index=True)
auged_df

,ID,text,target,target_name,source,similarity
0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학,noisy,0.20434
1,ynat-v1_train_00000,"정부, KT 주파수 미사용에 강력한 제재 조치",4,IT과학,noisy,0.23111
2,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학,noisy,0.21015
3,ynat-v1_train_00000,미사용 주파수에 대한 정부와 KT에 대한 강력한 제재.,4,IT과학,noisy,0.23864
4,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,noisy,0.18111
...,...,...,...,...,...,...
12192,2398,경찰 5월 초 부터 방한 외국인 단체 관광객을 위해 바가지 요금 등 집중 단속,3,사회,not_noisy_ner,0.17428
12193,2399,"문재인 대통령, 김기식 전 금감원장 사표 즉각 수리키로(종합)",2,정치,not_noisy_ner,0.26558
12194,2400,트럼프 폭스뉴스 앵커들 트윗 충성도 너무 후한 점수 매겨...10점 만점에 고작 12점도,6,세계,not_noisy_ner,0.17680
12195,2402,"인터뷰: 솔직히 난 류현진, 친구에게 연속 안타 맞는 다는 것 싫어해...승부는 냉정",1,스포츠,not_noisy_ner,0.22391
12196,2403,2018 지능정보사회 대비 ICT 국가 종합대책 마련,3,사회,not_noisy_ner,0.17774

In [61]:
not_noisy_aug = pd.read_csv('not_noisy_aug.csv')
not_noisy_aug = not_noisy_aug.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'text'])
not_noisy_aug = not_noisy_aug.rename(columns={'re_text': 'text'})
not_noisy_aug

                       ID  target                          text
0     ynat-v1_train_00003       4     갤노트 주말 판매, 불법 보조금 논란에 휩싸여
1     ynat-v1_train_00005       6  미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제
2     ynat-v1_train_00007       1     아가메즈 승리, 우리카드 손해보험 완파에 위기
3     ynat-v1_train_00008       2   지진 피해 상황 확인, 朴 대통령 경주 현장 방문
4     ynat-v1_train_00009       4    아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게
...                   ...     ...                           ...
1208  ynat-v1_train_02794       2    김기식 금감원장 사표, 문 대통령 수리키로 종합
1209  ynat-v1_train_02795       6         트럼프, 폭스뉴스 앵커들의 충성도 평가
1210  ynat-v1_train_02796       4           갤럭시 출시, 삼성-이통시장에 파도
1211  ynat-v1_train_02798       1      류현진, 친구 인터뷰에 안타 만날 것 두려워
1212  ynat-v1_train_02799       3     국가, 지능정보사회에 대비한 종합적 대책 수립

[1213 rows x 3 columns]

In [62]:
not_noisy_aug.to_csv('not_noisy_auged.csv')

In [67]:
gemma_sum = pd.read_csv('generated_titles_sum.csv')
gemma_sum = gemma_sum.drop(columns=['Unnamed: 0'])

In [69]:
gemma_dataset = pd.concat([gemma_sum, not_noisy_aug], ignore_index=True)
gemma_dataset.to_csv('gemma_dataset.csv')

In [70]:
# 각 target별 개수와 비율 구하기
target_counts = gemma_dataset['target'].value_counts()
target_ratios = gemma_dataset['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
1         601  0.153121
6         594  0.151338
5         583  0.148535
4         576  0.146752
2         529  0.134777
3         526  0.134013
0         516  0.131465

## LLM으로 증강할 데이터셋 (not noisy 뽑기)

In [72]:
not_noisy = pd.read_csv('../train_not_noisy.csv')
not_noisy_ids = not_noisy['ID'].to_list()

In [73]:
ens_df = pd.read_csv('../ensemble_targets_ssb.csv')
ens_not_noisy = ens_df[ens_df['ID'].isin(not_noisy_ids)]
ens_not_noisy.to_csv('not_noisy_ens.csv')

In [75]:
# 각 target별 개수와 비율 구하기
target_counts = ens_not_noisy['target'].value_counts()
target_ratios = ens_not_noisy['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
5         202  0.166529
1         199  0.164056
6         189  0.155812
4         185  0.152514
0         159  0.131080
2         151  0.124485
3         128  0.105523

## not_noisy 증강 데이터 확인

In [ ]:
aug_test2 = pd.read_csv('not_noisy_aug_2.csv')
aug_test2 = aug_test2.drop(columns=['Unnamed: 0'])
aug_test2

,ID,text,target,re_text
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩,4,"갤노트8 주말 판매 27만 대 돌파, 불법 보조금 문제 최고 점화"
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,6,"미성인, 배려 없는 배우자·연인 탓에 빚 부담"
2,ynat-v1_train_00007,아가메즈 33득점 우리카드 KB손해보험 완파...3위 굳혀,1,"아가메즈, 33득점으로 우리카드 KB손해보험 완파...리그 3위 확정"
3,ynat-v1_train_00008,박근혜 대통령 얼마나 많이 놀라셨어요...경주 지진현장 방문 종합,2,"박근혜 대통령, 경주 지진 현장 봉사 나서"
4,ynat-v1_train_00011,NH투자증권 1월 옵션 만기일 매도 우세,5,"NH투자증권, 1월 옵션 만기일 매수보다는 매도"
...,...,...,...,...
1207,ynat-v1_train_02794,"문재인 대통령, 김기식 금감원장 사표 수리키로(종합)",2,"김기식 금감원장, 문재인 대통령 사표 수리키로"
1208,ynat-v1_train_02795,트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도,6,"폭스뉴스, 트럼프 앵커 충성도 점수 매겨...10점 만점에 12점"
1209,ynat-v1_train_02796,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,4,"갤럭시S9 출시, 이번 주말 이통시장 관심집중"
1210,ynat-v1_train_02798,"인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정",1,"류현진, 친구와의 시합에서 승패보다 안타 더 두렵다"
1211,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,3,"국가, 지능정보사회에 대응하는 종합대책 수립"

In [62]:
auged_test2 = aug_test2[aug_test2['text']!=aug_test2['re_text']]
auged_test2

,ID,text,target,re_text
0,ynat-v1_train_00003,갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩,4,"갤노트8 주말 판매 27만 대 돌파, 불법 보조금 문제 최고 점화"
1,ynat-v1_train_00005,美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다,6,"미성인, 배려 없는 배우자·연인 탓에 빚 부담"
2,ynat-v1_train_00007,아가메즈 33득점 우리카드 KB손해보험 완파...3위 굳혀,1,"아가메즈, 33득점으로 우리카드 KB손해보험 완파...리그 3위 확정"
3,ynat-v1_train_00008,박근혜 대통령 얼마나 많이 놀라셨어요...경주 지진현장 방문 종합,2,"박근혜 대통령, 경주 지진 현장 봉사 나서"
4,ynat-v1_train_00011,NH투자증권 1월 옵션 만기일 매도 우세,5,"NH투자증권, 1월 옵션 만기일 매수보다는 매도"
...,...,...,...,...
1207,ynat-v1_train_02794,"문재인 대통령, 김기식 금감원장 사표 수리키로(종합)",2,"김기식 금감원장, 문재인 대통령 사표 수리키로"
1208,ynat-v1_train_02795,트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도,6,"폭스뉴스, 트럼프 앵커 충성도 점수 매겨...10점 만점에 12점"
1209,ynat-v1_train_02796,삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠,4,"갤럭시S9 출시, 이번 주말 이통시장 관심집중"
1210,ynat-v1_train_02798,"인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정",1,"류현진, 친구와의 시합에서 승패보다 안타 더 두렵다"
1211,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,3,"국가, 지능정보사회에 대응하는 종합대책 수립"

In [ ]:
auged_test2 = auged_test2.drop(columns=['text'])
auged_test2 = auged_test2.rename(columns={'re_text': 'text'})
auged_test2

                       ID  target                                    text
0     ynat-v1_train_00003       4    갤노트8 주말 판매 27만 대 돌파, 불법 보조금 문제 최고 점화
1     ynat-v1_train_00005       6               미성인, 배려 없는 배우자·연인 탓에 빚 부담
2     ynat-v1_train_00007       1  아가메즈, 33득점으로 우리카드 KB손해보험 완파...리그 3위 확정
3     ynat-v1_train_00008       2                 박근혜 대통령, 경주 지진 현장 봉사 나서
4     ynat-v1_train_00011       5              NH투자증권, 1월 옵션 만기일 매수보다는 매도
...                   ...     ...                                     ...
1207  ynat-v1_train_02794       2               김기식 금감원장, 문재인 대통령 사표 수리키로
1208  ynat-v1_train_02795       6    폭스뉴스, 트럼프 앵커 충성도 점수 매겨...10점 만점에 12점
1209  ynat-v1_train_02796       4               갤럭시S9 출시, 이번 주말 이통시장 관심집중
1210  ynat-v1_train_02798       1            류현진, 친구와의 시합에서 승패보다 안타 더 두렵다
1211  ynat-v1_train_02799       3                국가, 지능정보사회에 대응하는 종합대책 수립

[1212 rows x 3 columns]

In [64]:
auged_test2.to_csv('not_noisy_auged_2.csv')

In [83]:
df = pd.read_csv('../data/train/train_20241104_filtering_mask_gemma.csv')

In [84]:
# 각 target별 개수와 비율 구하기
target_counts = df['target'].value_counts()
target_ratios = df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
6        2053  0.153990
2        2024  0.151815
1        1948  0.146115
4        1922  0.144164
0        1884  0.141314
3        1784  0.133813
5        1717  0.128788

### 덮어쓰기

In [85]:
import pandas as pd

# CSV 파일 읽기
not_noisy_df = pd.read_csv('not_noisy_auged.csv')
third_train_df = pd.read_csv('third_train_non_noise.csv')

# 'ID' 열을 기준으로 'target' 값을 덮어쓰기
not_noisy_df['target'] = not_noisy_df['ID'].map(
    third_train_df.set_index('ID')['target']
)

# 덮어쓴 데이터를 새로운 CSV 파일로 저장 (선택 사항)
not_noisy_df.to_csv('updated_not_noisy_auged.csv', index=False)

print("target 값 덮어쓰기 완료!")

target 값 덮어쓰기 완료!

In [86]:
not_noisy_df = not_noisy_df.drop(columns=['Unnamed: 0'])
not_noisy_df = not_noisy_df[['ID','text','target']]
not_noisy_df

                       ID                          text  target
0     ynat-v1_train_00003     갤노트 주말 판매, 불법 보조금 논란에 휩싸여       4
1     ynat-v1_train_00005  미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제       6
2     ynat-v1_train_00007     아가메즈 승리, 우리카드 손해보험 완파에 위기       1
3     ynat-v1_train_00008   지진 피해 상황 확인, 朴 대통령 경주 현장 방문       2
4     ynat-v1_train_00009    아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게       4
...                   ...                           ...     ...
1208  ynat-v1_train_02794    김기식 금감원장 사표, 문 대통령 수리키로 종합       2
1209  ynat-v1_train_02795         트럼프, 폭스뉴스 앵커들의 충성도 평가       6
1210  ynat-v1_train_02796           갤럭시 출시, 삼성-이통시장에 파도       4
1211  ynat-v1_train_02798      류현진, 친구 인터뷰에 안타 만날 것 두려워       1
1212  ynat-v1_train_02799     국가, 지능정보사회에 대비한 종합적 대책 수립       3

[1213 rows x 3 columns]

In [87]:
not_noisy_df.to_csv('updated_not_noisy_auged.csv', index=False)

In [2]:
import pandas as pd
df = pd.read_csv('third_train_non_noise.csv')
df

                       ID                             text  target
0     ynat-v1_train_00003       갤노트 주말 만대 개통 시장은 불법 보조금 얼룩       4
1     ynat-v1_train_00005     美성인 명 중 명꼴 배우자 연인 빚 떠안은 적 있다       6
2     ynat-v1_train_00007         아가메즈 득점 우리카드 손해보험 완파 위 굳       1
3     ynat-v1_train_00008   朴대통령 얼마나 많이 놀라셨어요 경주 지진현장 방문종합       2
4     ynat-v1_train_00009       듀얼심 아이폰 하반기 출시설 솔솔 알뜰폰 기대감       4
...                   ...                              ...     ...
1208  ynat-v1_train_02794         문 대통령 김기식 금감원장 사표 수리키로종합       2
1209  ynat-v1_train_02795    트럼프 폭스뉴스 앵커들 충성도 점수매겨 점만점에 점도       6
1210  ynat-v1_train_02796        삼성 갤럭시 정식 출시 첫 주말 이통시장 잠잠       4
1211  ynat-v1_train_02798  인터뷰 류현진 친구에게 안타 맞는 것 싫어해 승부는 냉정       1
1212  ynat-v1_train_02799             지능정보사회 대비 국가 종합대책 마련       3

[1213 rows x 3 columns]

In [31]:
fd = pd.read_csv('test2.csv')
fd

                       ID                                   text  target
0     ynat-v1_train_00003        갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩       4
1     ynat-v1_train_00005         美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다       6
2     ynat-v1_train_00007       아가메즈 33득점 우리카드 KB손해보험 완파...3위 굳혀       1
3     ynat-v1_train_00008   박근혜 대통령 얼마나 많이 놀라셨어요...경주 지진현장 방문 종합       2
4     ynat-v1_train_00009           듀얼심 아이폰 하반기 출시설 솔솔...알뜰폰 기대감       4
...                   ...                                    ...     ...
1208  ynat-v1_train_02794          문재인 대통령, 김기식 금감원장 사표 수리키로(종합)       2
1209  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도       6
1210  ynat-v1_train_02796            삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠       4
1211  ynat-v1_train_02798    인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정       1
1212  ynat-v1_train_02799                   지능정보사회 대비 국가 종합대책 마련       3

[1213 rows x 3 columns]

In [7]:
df_compare = df[df['target'] != fd['target']].copy()
df_compare['ugi_target'] = fd.loc[df_compare.index, 'target']

In [9]:
df_compare.to_csv('temp.csv')

In [26]:
mask_aug = pd.read_csv('train_20241104_filtering_mask_aug.csv')

In [12]:
updated = pd.read_csv('updated_not_noisy_auged.csv')
updated

                       ID                          text  target
0     ynat-v1_train_00003     갤노트 주말 판매, 불법 보조금 논란에 휩싸여       4
1     ynat-v1_train_00005  미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제       6
2     ynat-v1_train_00007     아가메즈 승리, 우리카드 손해보험 완파에 위기       1
3     ynat-v1_train_00008   지진 피해 상황 확인, 朴 대통령 경주 현장 방문       2
4     ynat-v1_train_00009    아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게       4
...                   ...                           ...     ...
1208  ynat-v1_train_02794    김기식 금감원장 사표, 문 대통령 수리키로 종합       2
1209  ynat-v1_train_02795         트럼프, 폭스뉴스 앵커들의 충성도 평가       6
1210  ynat-v1_train_02796           갤럭시 출시, 삼성-이통시장에 파도       4
1211  ynat-v1_train_02798      류현진, 친구 인터뷰에 안타 만날 것 두려워       1
1212  ynat-v1_train_02799     국가, 지능정보사회에 대비한 종합적 대책 수립       3

[1213 rows x 3 columns]

In [ ]:
change = change[change['source']=='aug_update']
change

,before_index,ID,text,target,target_name,source,similarity
10199,14018,0,"갤노트 주말 판매, 불법 보조금 논란에 휩싸여",4,IT과학,aug_update,0.21775
10200,14019,1,"미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제",6,세계,aug_update,0.19871
10201,14020,2,"아가메즈 승리, 우리카드 손해보험 완파에 위기",1,스포츠,aug_update,0.24971
10202,14021,3,"지진 피해 상황 확인, 朴 대통령 경주 현장 방문",2,정치,aug_update,0.23667
10203,14022,4,"아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게",4,IT과학,aug_update,0.25647
...,...,...,...,...,...,...,...
11114,15225,1207,"경찰, 월초 유커와 일본 관광객 대상 바가지 요금 집중 단속",6,세계,aug_update,0.17959
11115,15226,1208,"김기식 금감원장 사표, 문 대통령 수리키로 종합",2,정치,aug_update,0.26546
11116,15227,1209,"트럼프, 폭스뉴스 앵커들의 충성도 평가",6,세계,aug_update,0.18276
11117,15228,1210,"갤럭시 출시, 삼성-이통시장에 파도",4,IT과학,aug_update,0.29401
11118,15230,1212,"국가, 지능정보사회에 대비한 종합적 대책 수립",3,사회,aug_update,0.19200

In [32]:
updated_use = updated[updated['text'].isin(change['text'])]
updated_use

                       ID                               text  target
0     ynat-v1_train_00003          갤노트 주말 판매, 불법 보조금 논란에 휩싸여       4
1     ynat-v1_train_00005       미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제       6
2     ynat-v1_train_00007          아가메즈 승리, 우리카드 손해보험 완파에 위기       1
3     ynat-v1_train_00008        지진 피해 상황 확인, 朴 대통령 경주 현장 방문       2
4     ynat-v1_train_00009         아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게       4
...                   ...                                ...     ...
1207  ynat-v1_train_02793  경찰, 월초 유커와 일본 관광객 대상 바가지 요금 집중 단속       6
1208  ynat-v1_train_02794         김기식 금감원장 사표, 문 대통령 수리키로 종합       2
1209  ynat-v1_train_02795              트럼프, 폭스뉴스 앵커들의 충성도 평가       6
1210  ynat-v1_train_02796                갤럭시 출시, 삼성-이통시장에 파도       4
1212  ynat-v1_train_02799          국가, 지능정보사회에 대비한 종합적 대책 수립       3

[920 rows x 3 columns]

In [33]:
updated_use_ids = updated_use['ID'].to_list()
is_fd = fd[fd['ID'].isin(updated_use_ids)]
is_fd

                       ID                                   text  target
0     ynat-v1_train_00003        갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩       4
1     ynat-v1_train_00005         美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다       6
2     ynat-v1_train_00007       아가메즈 33득점 우리카드 KB손해보험 완파...3위 굳혀       1
3     ynat-v1_train_00008   박근혜 대통령 얼마나 많이 놀라셨어요...경주 지진현장 방문 종합       2
4     ynat-v1_train_00009           듀얼심 아이폰 하반기 출시설 솔솔...알뜰폰 기대감       4
...                   ...                                    ...     ...
1207  ynat-v1_train_02793       경찰 5월 초 외국인 관광객을 위해 바가지 요금 집중 단속       3
1208  ynat-v1_train_02794          문재인 대통령, 김기식 금감원장 사표 수리키로(종합)       2
1209  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도       6
1210  ynat-v1_train_02796            삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠       4
1212  ynat-v1_train_02799                   지능정보사회 대비 국가 종합대책 마련       3

[920 rows x 3 columns]

In [19]:
# fd의 'ID'와 'target'으로 매핑 딕셔너리 생성
target_map = fd.set_index('ID')['target'].to_dict()

# updated_use의 'ID'에 해당하는 target 값을 fd의 target 값으로 변경
updated_use['target'] = updated_use['ID'].map(target_map)

/tmp/ipykernel_638570/2936833751.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_use['target'] = updated_use['ID'].map(target_map)

In [20]:
updated_use

                       ID                               text  target
0     ynat-v1_train_00003          갤노트 주말 판매, 불법 보조금 논란에 휩싸여       4
1     ynat-v1_train_00005       미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제       6
2     ynat-v1_train_00007          아가메즈 승리, 우리카드 손해보험 완파에 위기       1
3     ynat-v1_train_00008        지진 피해 상황 확인, 朴 대통령 경주 현장 방문       2
4     ynat-v1_train_00009         아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게       4
...                   ...                                ...     ...
1207  ynat-v1_train_02793  경찰, 월초 유커와 일본 관광객 대상 바가지 요금 집중 단속       3
1208  ynat-v1_train_02794         김기식 금감원장 사표, 문 대통령 수리키로 종합       2
1209  ynat-v1_train_02795              트럼프, 폭스뉴스 앵커들의 충성도 평가       6
1210  ynat-v1_train_02796                갤럭시 출시, 삼성-이통시장에 파도       4
1212  ynat-v1_train_02799          국가, 지능정보사회에 대비한 종합적 대책 수립       3

[920 rows x 3 columns]

In [21]:
# updated_use의 'text'와 'target'으로 매핑 딕셔너리 생성
target_map = updated_use.set_index('text')['target'].to_dict()

# change 'text'에 해당하는 target 값을 fd의 target 값으로 변경
change['target'] = change['text'].map(target_map)

In [27]:
change

,before_index,ID,text,target,target_name,source,similarity
10199,14018,0,"갤노트 주말 판매, 불법 보조금 논란에 휩싸여",4,IT과학,aug_update,0.21775
10200,14019,1,"미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제",6,세계,aug_update,0.19871
10201,14020,2,"아가메즈 승리, 우리카드 손해보험 완파에 위기",1,스포츠,aug_update,0.24971
10202,14021,3,"지진 피해 상황 확인, 朴 대통령 경주 현장 방문",2,정치,aug_update,0.23667
10203,14022,4,"아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게",4,IT과학,aug_update,0.25647
...,...,...,...,...,...,...,...
11114,15225,1207,"경찰, 월초 유커와 일본 관광객 대상 바가지 요금 집중 단속",3,세계,aug_update,0.17959
11115,15226,1208,"김기식 금감원장 사표, 문 대통령 수리키로 종합",2,정치,aug_update,0.26546
11116,15227,1209,"트럼프, 폭스뉴스 앵커들의 충성도 평가",6,세계,aug_update,0.18276
11117,15228,1210,"갤럭시 출시, 삼성-이통시장에 파도",4,IT과학,aug_update,0.29401
11118,15230,1212,"국가, 지능정보사회에 대비한 종합적 대책 수립",3,사회,aug_update,0.19200

In [28]:
not_change = mask_aug[mask_aug['source']!='aug_update']
not_change

,before_index,ID,text,target,target_name,source,similarity
0,0,ynat-v1_train_00000,"정부, '주파수 미사용' KT에 이용기간 2년 단축 처분(종합2보)",4,IT과학,noisy,0.20434
1,1,ynat-v1_train_00000,"정부, KT 주파수 미사용에 강력한 제재 조치",4,IT과학,noisy,0.23111
2,2,ynat-v1_train_00000,"KT, 주파수 미사용으로 이용기간 2년 단축 처분",4,IT과학,noisy,0.21015
3,4,ynat-v1_train_00000,"KT, 주파수 미사용으로 인한 사용 기간의 2년 단축.",4,IT과학,noisy,0.22279
4,9,ynat-v1_train_00001,찰 국 로 한 회장 송,3,사회,noisy,0.18111
...,...,...,...,...,...,...,...
10194,14013,2399,"문재인 대통령, 김기식 전 금감원장 사표 즉각 수리키로(종합)",2,정치,not_noisy_ner,0.26558
10195,14014,2400,트럼프 폭스뉴스 앵커들 트윗 충성도 너무 후한 점수 매겨...10점 만점에 고작 12점도,6,세계,not_noisy_ner,0.17680
10196,14015,2401,오늘 오전 부터 삼성 갤럭시S9 국내 정식 출시 첫 주말 이통시장 잠잠,4,IT과학,not_noisy_ner,0.25759
10197,14016,2402,"인터뷰: 솔직히 난 류현진, 친구에게 연속 안타 맞는 다는 것 싫어해...승부는 냉정",1,스포츠,not_noisy_ner,0.22391
10198,14017,2403,2018 지능정보사회 대비 ICT 국가 종합대책 마련,3,사회,not_noisy_ner,0.17774

In [29]:
changed = pd.concat([not_change, change], ignore_index=True)
changed.to_csv('train_20241104_filtering_mask_aug.csv')

In [54]:
# 각 target별 개수와 비율 구하기
target_counts = changed['target'].value_counts()
target_ratios = changed['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1734  0.155949
6        1693  0.152262
1        1608  0.144617
0        1599  0.143808
4        1594  0.143358
3        1478  0.132926
5        1413  0.127080

In [34]:
not_fd = fd[~fd['ID'].isin(updated_use_ids)]
not_fd

                       ID                                    text  target
6     ynat-v1_train_00012            황교안 총리, 각 부처 비상대비태세 철저히 강구해야       2
9     ynat-v1_train_00017          월세 전환에 늘어나는 주거비 부담...작년 역대 최고치       5
13    ynat-v1_train_00024             서울에 다시 오존주의보...도심·서북·동북권 발령       0
14    ynat-v1_train_00034     안보리 대북결의안 2270호 이행보고서 제출한 나라 70개 육박       6
19    ynat-v1_train_00040            피폭 노동자가 증언하는 후쿠시마 원전 은폐와 속임수       3
...                   ...                                     ...     ...
1196  ynat-v1_train_02762            5선발로 다시 일어선 넥센 한현희 올 시즌 건강하길       1
1202  ynat-v1_train_02781             화합물 몸 안에서 짝단백질 결합하는 법 새로 규명       4
1204  ynat-v1_train_02785        민주화운동 보상받으면 국가배상 안 돼...헌재와 반대 판결       2
1205  ynat-v1_train_02790  프로농구 개막 3일째, 헤인즈의 1만점·양동근의 900스틸......       1
1211  ynat-v1_train_02798     인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정       1

[293 rows x 3 columns]

In [36]:
target_to_domain = {
    '생활문화': 0,
    '스포츠': 1,
    '정치': 2,
    '사회': 3,
    'IT과학': 4,
    '경제': 5,
    '세계': 6
}

In [37]:
domain_to_target = {v: k for k, v in target_to_domain.items()}

# noisy_df의 target 열을 텍스트로 변환
not_fd['target'] = not_fd['target'].map(domain_to_target)
not_fd

/tmp/ipykernel_638570/1037049459.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_fd['target'] = not_fd['target'].map(domain_to_target)

                       ID                                    text target
6     ynat-v1_train_00012            황교안 총리, 각 부처 비상대비태세 철저히 강구해야     정치
9     ynat-v1_train_00017          월세 전환에 늘어나는 주거비 부담...작년 역대 최고치     경제
13    ynat-v1_train_00024             서울에 다시 오존주의보...도심·서북·동북권 발령   생활문화
14    ynat-v1_train_00034     안보리 대북결의안 2270호 이행보고서 제출한 나라 70개 육박     세계
19    ynat-v1_train_00040            피폭 노동자가 증언하는 후쿠시마 원전 은폐와 속임수     사회
...                   ...                                     ...    ...
1196  ynat-v1_train_02762            5선발로 다시 일어선 넥센 한현희 올 시즌 건강하길    스포츠
1202  ynat-v1_train_02781             화합물 몸 안에서 짝단백질 결합하는 법 새로 규명   IT과학
1204  ynat-v1_train_02785        민주화운동 보상받으면 국가배상 안 돼...헌재와 반대 판결     정치
1205  ynat-v1_train_02790  프로농구 개막 3일째, 헤인즈의 1만점·양동근의 900스틸......    스포츠
1211  ynat-v1_train_02798     인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정    스포츠

[293 rows x 3 columns]

In [58]:
len(not_fd[not_fd['target']=='경제'])

41

In [38]:
not_fd.to_csv('temp.csv')

In [50]:
auged_df_ = pd.read_csv('not_noisy_auged.csv')
auged_df_ = auged_df_.drop(columns=['Unnamed: 0'])
auged_df_

                       ID  target                          text
0     ynat-v1_train_00003       4     갤노트 주말 판매, 불법 보조금 논란에 휩싸여
1     ynat-v1_train_00005       6  미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제
2     ynat-v1_train_00007       1     아가메즈 승리, 우리카드 손해보험 완파에 위기
3     ynat-v1_train_00008       2   지진 피해 상황 확인, 朴 대통령 경주 현장 방문
4     ynat-v1_train_00009       4    아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게
...                   ...     ...                           ...
1208  ynat-v1_train_02794       2    김기식 금감원장 사표, 문 대통령 수리키로 종합
1209  ynat-v1_train_02795       6         트럼프, 폭스뉴스 앵커들의 충성도 평가
1210  ynat-v1_train_02796       4           갤럭시 출시, 삼성-이통시장에 파도
1211  ynat-v1_train_02798       1      류현진, 친구 인터뷰에 안타 만날 것 두려워
1212  ynat-v1_train_02799       3     국가, 지능정보사회에 대비한 종합적 대책 수립

[1213 rows x 3 columns]

In [42]:
ugi_df = pd.read_csv('test2.csv')
ugi_df

                       ID                                   text  target
0     ynat-v1_train_00003        갤노트8 주말 27만대 개통...시장은 불법 보조금 얼룩       4
1     ynat-v1_train_00005         美성인 6명 중 1명꼴 배우자·연인 빚 떠안은 적 있다       6
2     ynat-v1_train_00007       아가메즈 33득점 우리카드 KB손해보험 완파...3위 굳혀       1
3     ynat-v1_train_00008   박근혜 대통령 얼마나 많이 놀라셨어요...경주 지진현장 방문 종합       2
4     ynat-v1_train_00009           듀얼심 아이폰 하반기 출시설 솔솔...알뜰폰 기대감       4
...                   ...                                    ...     ...
1208  ynat-v1_train_02794          문재인 대통령, 김기식 금감원장 사표 수리키로(종합)       2
1209  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수 매겨...10점 만점에 12점도       6
1210  ynat-v1_train_02796            삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠       4
1211  ynat-v1_train_02798    인터뷰: 류현진, 친구에게 안타 맞는 것 싫어해...승부는 냉정       1
1212  ynat-v1_train_02799                   지능정보사회 대비 국가 종합대책 마련       3

[1213 rows x 3 columns]

In [46]:
# ugi_df 'ID'와 'target'으로 매핑 딕셔너리 생성
target_map = ugi_df.set_index('ID')['target'].to_dict()

# auged_df 'ID'에 해당하는 target 값을 ugi_df의 target 값으로 변경
auged_df['target'] = auged_df['ID'].map(target_map)

In [52]:
auged_df.to_csv('not_noisy_auged.csv')

In [65]:
auged_df

                       ID  target                          text
0     ynat-v1_train_00003       4     갤노트 주말 판매, 불법 보조금 논란에 휩싸여
1     ynat-v1_train_00005       6  미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제
2     ynat-v1_train_00007       1     아가메즈 승리, 우리카드 손해보험 완파에 위기
3     ynat-v1_train_00008       2   지진 피해 상황 확인, 朴 대통령 경주 현장 방문
4     ynat-v1_train_00009       4    아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게
...                   ...     ...                           ...
1208  ynat-v1_train_02794       2    김기식 금감원장 사표, 문 대통령 수리키로 종합
1209  ynat-v1_train_02795       6         트럼프, 폭스뉴스 앵커들의 충성도 평가
1210  ynat-v1_train_02796       4           갤럭시 출시, 삼성-이통시장에 파도
1211  ynat-v1_train_02798       1      류현진, 친구 인터뷰에 안타 만날 것 두려워
1212  ynat-v1_train_02799       3     국가, 지능정보사회에 대비한 종합적 대책 수립

[1213 rows x 3 columns]

In [68]:
auged_test2

                       ID  target                                    text
0     ynat-v1_train_00003       4    갤노트8 주말 판매 27만 대 돌파, 불법 보조금 문제 최고 점화
1     ynat-v1_train_00005       6               미성인, 배려 없는 배우자·연인 탓에 빚 부담
2     ynat-v1_train_00007       1  아가메즈, 33득점으로 우리카드 KB손해보험 완파...리그 3위 확정
3     ynat-v1_train_00008       2                 박근혜 대통령, 경주 지진 현장 봉사 나서
4     ynat-v1_train_00011       5              NH투자증권, 1월 옵션 만기일 매수보다는 매도
...                   ...     ...                                     ...
1207  ynat-v1_train_02794       2               김기식 금감원장, 문재인 대통령 사표 수리키로
1208  ynat-v1_train_02795       6    폭스뉴스, 트럼프 앵커 충성도 점수 매겨...10점 만점에 12점
1209  ynat-v1_train_02796       4               갤럭시S9 출시, 이번 주말 이통시장 관심집중
1210  ynat-v1_train_02798       1            류현진, 친구와의 시합에서 승패보다 안타 더 두렵다
1211  ynat-v1_train_02799       3                국가, 지능정보사회에 대응하는 종합대책 수립

[1212 rows x 3 columns]

In [69]:
double = pd.concat([auged_df, auged_test2], ignore_index=True)
double = double.drop_duplicates(subset='text', keep='first')
double

                       ID  target                                  text
0     ynat-v1_train_00003       4             갤노트 주말 판매, 불법 보조금 논란에 휩싸여
1     ynat-v1_train_00005       6          미국 배우자, 명품 브랜드와 연인에 휘말린 빚 문제
2     ynat-v1_train_00007       1             아가메즈 승리, 우리카드 손해보험 완파에 위기
3     ynat-v1_train_00008       2           지진 피해 상황 확인, 朴 대통령 경주 현장 방문
4     ynat-v1_train_00009       4            아이폰 듀얼심 출시, 하반기 알뜰폰 시장 뜨겁게
...                   ...     ...                                   ...
2420  ynat-v1_train_02794       2             김기식 금감원장, 문재인 대통령 사표 수리키로
2421  ynat-v1_train_02795       6  폭스뉴스, 트럼프 앵커 충성도 점수 매겨...10점 만점에 12점
2422  ynat-v1_train_02796       4             갤럭시S9 출시, 이번 주말 이통시장 관심집중
2423  ynat-v1_train_02798       1          류현진, 친구와의 시합에서 승패보다 안타 더 두렵다
2424  ynat-v1_train_02799       3              국가, 지능정보사회에 대응하는 종합대책 수립

[2412 rows x 3 columns]

In [72]:
double_aug = pd.concat([not_change, double], ignore_index=True)
double_aug = double_aug.drop_duplicates(subset='text', keep='first')
double_aug = double_aug.sample(frac=1, random_state=42).reset_index(drop=True)
double_aug.to_csv('double_auged.csv')
double_aug

,before_index,ID,text,target,target_name,source,similarity
0,7337.0,ynat-v1_train_01748,부선 천안 청주공 전철화 본격 추진 년 공,3,사회,noisy,0.18527
1,3099.0,ynat-v1_train_00744,박 대통령의 지지율이 42%로 높아졌습니다...정책 효과에 대한 긍정적인 평가.,2,정치,noisy,0.24301
2,608.0,ynat-v1_train_00132,올해 경제 성장률 전망에 대해 전문가들이 의견을 나누고 있다,0,생활문화,noisy,0.18464
3,9449.0,ynat-v1_train_02285,"한미회담 5월 길게 진행, 북미 고위급 회담 강조",2,정치,noisy,0.21992
4,3891.0,ynat-v1_train_00912,"갤럭시 S9 퀀텀 패키지 출시, 5천대 한정 판매 개시",4,IT과학,noisy,0.31371
...,...,...,...,...,...,...,...
12115,NaN,ynat-v1_train_02435,"다공성 금속구조체 전극 활용, 리튬전지 용량 2배 증대",4,NaN,NaN,NaN
12116,7685.0,ynat-v1_train_01842,정부의 5G 인프라 확충 계획 발표... 통신사의 대응책에 대한 관심,4,IT과학,noisy,0.27035
12117,7966.0,ynat-v1_train_01917,"자작나무 숲 보호 위해 인제 2개 구간 입산 제한, 환경 보전 강화",0,생활문화,noisy,0.17364
12118,1284.0,ynat-v1_train_00314,외국인에게 말만 하세요 한컴 이어폰형 통역기 서 첫선,4,IT과학,not_noisy,0.22860
12119,10788.0,ynat-v1_train_02621,중기 필 코리 펀드 가,5,경제,noisy,0.21649

In [73]:
# 각 target별 개수와 비율 구하기
target_counts = double_aug['target'].value_counts()
target_ratios = double_aug['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        1891  0.156023
6        1873  0.154538
1        1808  0.149175
0        1736  0.143234
4        1712  0.141254
3        1602  0.132178
5        1498  0.123597

In [76]:
gen = pd.read_csv('generated_titles.csv')
len(gen[gen['target']=='경제'])

41

In [77]:
gen_sum = pd.read_csv('generated_titles_sum.csv')
eco = gen_sum[gen_sum['target']==5]

In [79]:
eco = eco.drop(columns=['Unnamed: 0'])
eco.to_csv('eco.csv')

### triple

In [84]:
third = pd.read_csv('not_noisy_aug_3.csv')
third = third.drop(columns=['Unnamed: 0'])
third = third[third['text']!=third['re_text']]
third = third.drop(columns=['text'])
third = third.rename(columns={'re_text': 'text'})
third

                       ID  target                                  text
0     ynat-v1_train_00003       4        갤노트8 주말 판매 27만 대, 시장 불법 보조금 논란
1     ynat-v1_train_00005       6                미성인, 배우자・연인 빚 담당률 16%
2     ynat-v1_train_00007       1  아가메즈, 33득점 활약! 우리카드 KB손해보험 완파, 3위 확정
3     ynat-v1_train_00008       2                  박근혜 대통령, 경주 지진 현장 방문
4     ynat-v1_train_00009       4        아이폰 D-스펙 하반기 출시, 알뜰폰 시장 기대치 상승
...                   ...     ...                                   ...
1208  ynat-v1_train_02794       2               김기식 금감원장, 문재인 대통령 사표 수리
1209  ynat-v1_train_02795       6                트럼프, 폭스뉴스 앵커 충성도 평가 논란
1210  ynat-v1_train_02796       4         갤럭시S9 출시, 삼성폰 첫 주말 이통시장 영향 미침
1211  ynat-v1_train_02798       1            류현진, 친구와의 승부 '냉정', 안타는 피하기
1212  ynat-v1_train_02799       3                국가 차원, 지능정보사회 대응 전략 수립

[1213 rows x 3 columns]

In [87]:
triple = pd.concat([double_aug, third], ignore_index=True)
triple = triple.drop_duplicates(subset='text', keep='first')
triple = triple.sample(frac=1, random_state=42).reset_index(drop=True)

In [90]:
headline = pd.read_csv('../data/train/all_headline_cleanlab.csv')
headline = headline.drop(columns=['Unnamed: 0'])

In [ ]:
triple_df = pd.concat([headline, triple], ignore_index=True)
triple = triple.sample(frac=1, random_state=42).reset_index(drop=True)
triple.to_csv('triple.csv')

:

In [6]:
import pandas as pd

triple = pd.read_csv('triple.csv')
triple = triple.drop(columns=['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'])

In [11]:
triple = triple.drop(columns=['before_index'])

In [12]:
triple.to_csv('triple.csv', index=False)

In [4]:
filtered_triple = triple[triple['text'].str.len() <= 100]
filtered_triple = filtered_triple[filtered_triple['text'].str.replace(" ", "").str.len() >= 7]
filtered_triple.to_csv('triple.csv')

In [2]:
import pandas as pd
df = pd.read_csv('../data/train/triple.csv')

In [3]:
# 각 target별 개수와 비율 구하기
target_counts = df['target'].value_counts()
target_ratios = df['target'].value_counts(normalize=True)

# 결과 출력
result_df = pd.DataFrame({
    'Count': target_counts,
    'Ratio': target_ratios
})

print(result_df)

        Count     Ratio
target
2        2053  0.154640
6        2049  0.154339
1        1991  0.149970
0        1900  0.143115
4        1890  0.142362
3        1733  0.130536
5        1660  0.125038